.usuario {
    background-color: blue;
    color: aquamarine;
    margin: 2rem;
    padding: 2rem;
    width: 15rem;
    text-align: center;
}

button {
    background-color: aquamarine;
    border: none;
    padding: 1rem;
}

.perfil {
    width: 12rem;
}